/Bloque-I/Semana1/dist/
/Bloque-I/Semana2/nbproject/private/
/Bloque-I/Semana2/build/
/Bloque-I/Semana3/nbproject/private/
/Bloque-I/Semana3/build/
/Bloque-I/Semana3/dist/
/Bloque-I/Semana4/nbproject/private/
/Bloque-I/Semana4/build/
/Bloque-I/Semana4/dist/
/Bloque-I/Semana5/nbproject/private/
/Bloque-I/Semana5/build/
/Bloque-I/Semana5/dist/
